body {
    font-size: 2em;
}

h1 {
    font-size: 1em;
    text-align: center;
}

#container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.calculator-frame {
    display: flex;
    flex-direction: row;
    border: 5px solid black;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;

}

.button {
    max-width: 100px;
    max-height: 100px;
}

#screen {
    border: 2px solid green;
    background-color: lightgreen;
    font-weight: 800;
    text-align: center;
    padding: 20%;
}